*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("Home.jpg") no-repeat top center / cover;   
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(43,51,59,0.5);
    display: flex;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 200px;
    height: 300px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card figure {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .front {
    background: rgb(255, 238, 0);
    color: black;
    text-align: center;
}

.card .back {
    background: black;
    color: rgb(255, 238, 0);
    transform: rotateY(180deg);
}