
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("home.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	
}
/*******************************************************************************/
/* nav bar */

/*hamb menu box*/
.menu-btn{
    margin-left: 15px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /*border: 3px solid rgb(212, 210, 210);*/
}
/*middle line of hamb menu*/
.menu-btn_burger{
    width: 25px;
    height: 3px;
    background-color: gold;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: gold;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
/*upper line of hamb menu*/
.menu-btn_burger::before{
    transform:translateY(-8px) ;
}
/*middle line of hamb menu*/
.menu-btn_burger::after{
    transform:translateY(8px) ;
}
/*Animation for hamburger menu*/
/*3 lines move left while middle one dissapear*/
.menu-btn.open .menu-btn_burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
/*Making a cross using upper and lower lines*/
.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
    background-color: silver;
}
.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
    background-color: silver;
}

/*Navigation menu*/
.nav{
    margin-left: 15px;
    height: 100%;
    position:relative;
    top: 0;
    z-index: 1000;
    transform-style: preserve-3d;
    perspective: 1000px;
    display: flex;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn.open .text{
    transform: rotateY(0deg);
}

/*menu links*/
.text{
    position: fixed;
    left: 0px;
    top: 40px;
    z-index: 980;
    height: 58.52%;
    background-image: linear-gradient(148deg, gold 0%,black 5%,black 15%, black 35%, gold 85%);
    border-right: 1px solid rgba(0, 0, blue, 0.3);
    transition: transform 0.6s linear;
    backface-visibility: hidden;
    transform-origin: left;
    transform:perspective(1000px) rotateY(90deg);
    border-radius:50px 0px 50px;
}

.text a{
    display: block;
    width: 200px;
    height: 64px;
    line-height: 64px;
    text-indent: 1em;
    font-size: 1.4em;
    font-weight: 700;
    text-decoration: none;
    color: #adadad;
    text-shadow: 0 1px 0 black;
    transition: all in ease;
    font-family: sans-serif;
}

.text a:hover{
    color: silver;
    font-size: 1.5em;
    background-image: linear-gradient(148deg, gold 0%,black 5%,black 15%, black 35%, gold 85%);
    border-radius:50px 0px 50px;
    box-shadow: 3px 4px 5px black;
}

ul{
    list-style-type: none;
}

/**************************************************************************************/

.cs {
	color: #fff;
	font-size: 50px;
	padding: 5px 10px;
	font-family: "Lucida Console";
}

.p {
	color: #fff;
	font-size: 25px;

}


.wrapper {
    padding: 20px;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    width: 600px;
    min-height: 400px;
    margin: 20px 0;
}

.wrapper .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.wrapper .form .row .input-group {
    padding: 0 10px;
    display: block;
}

.wrapper .form .row .input-group:first-child {
    padding-left: 0;
}

.wrapper .form .row .input-group:last-child {
    padding-right: 0;
}

.wrapper .form .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}

.wrapper .form .input-group label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.wrapper .form .input-group .btn {
    margin: 20px 0;
    display: block;
    padding: .7rem 2rem;
    opacity: .8;
    color: #FFF;
    background: #00b894;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    transition: .3s ease-in;
}

.wrapper .form .input-group .btn:hover {
    opacity: 1;
}

.wrapper .form .input-group input, .wrapper .form .input-group textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #00b894;
    outline: none;
    padding: 5px 10px;
}

.wrapper .form .input-group.textarea {
    height: 200px;
}

.wrapper .form .input-group.textarea textarea {
    resize: none;
}

